@model ProductVM
@{
    ViewData["Title"] = "Upsert";
}
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Product.Id!=0? "Update": "Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="@Model.Product.Id" hidden />
            <input asp-for="@Model.Product.ImageUrl" hidden />
            <input asp-for="@Model.Product.CreatedDate" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3 ">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Title" class="form-control border-0 shadow" />
                            <label asp-for="Product.Title" class="ms-2"></label>
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Price" class="form-control border-0 shadow" />
                            <label asp-for="Product.Price" class="ms-2"></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.ProductionYear" class="form-control border-0 shadow" />
                            <label asp-for="Product.ProductionYear" class="ms-2"></label>
                            <span asp-validation-for="Product.ProductionYear" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Location" class="form-control border-0 shadow" />
                            <label asp-for="Product.Location" class="ms-2"></label>
                            <span asp-validation-for="Product.Location" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12 ">
                            <textarea asp-for="Product.Description" class="form-control shadow" style="height:130px"></textarea>
                            <label asp-for="Product.Description" class="ms-2"></label>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        
                        @*asp-items="ViewBag.Categories"   //no casting for ViewBag*@
                        @*asp-items="@ViewData["Categories"] as IEnumerable<SelectListItem>"  //ViewData casting req*@
                        <div class="form-floating py-2 col-12 ">
                            <select asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-select shadow">
                                <option disabled selected> --Select category--</option>
                            </select>
                            <label asp-for="Product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <label asp-for="Product.ImageUrl" class="ms-2"></label>
                        </div>
                        @if (Model.Product.Id != 0)  //show time if editing
                        {
                            <hr>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="Product.CreatedDate" class="form-control border-0 shadow" disabled />
                                <label asp-for="Product.CreatedDate" class="ms-2"></label>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="Product.LastModified" class="form-control border-0 shadow" disabled />
                                <label asp-for="Product.LastModified" class="ms-2"></label>
                            </div>
                        }
                        

                        <div class="row mt-4">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">
                                    @(Model.Product.Id != 0 ? "Update" : "Create")
                                </button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%"
                         style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>
            
        </form>
    </div>
</div>

@section Scripts{
    @*<script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons   lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | ',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>*@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}